* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.Carousel li.slide img {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.carousel .thumbs {
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: wrap !important;

  width: 100% !important;
}
.Carousel li img {
  height: 60px;
  background-size: cover;
  object-fit: contain;
}
